.vs
.Designer.cs
.Form1.cs
.WindowsFormsApp16.exe
.WindowsFormsApp16.pdb
.error.log
.user.json
.WindowsFormsApp16.csproj.GenerateResource.cache
.WindowsFormsApp16.exe
.WindowsFormsApp16.pdb
.asim.json
